<p>Areas List Observable</p>

<!--
<ul>
  <li *ngFor="let area of areas$ | async">
      <span>{{ area.id }}</span>
      <span>{{ area.name }}</span>
      <span>{{ area.width }}</span>
      <span>{{ area.length }}</span>
  </li>
</ul>
-->

<!--
<mat-nav-list>
  <mat-list-item *ngFor="let area of areas$ | async">
      <span>{{ area.id }}</span>
      <span>{{ area.name }}</span>
      <span>{{ area.width }}</span>
      <span>{{ area.length }}</span>
  </mat-list-item>
</mat-nav-list>
 -->

<table mat-table matSort [dataSource]="areas$" class="mat-elevation-z8">
  <!--- Note that these columns can be defined in any order. The actual rendered columns are set as a property on the row definition" -->
  <!-- ID Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
    <td mat-cell *matCellDef="let item"> {{item.id}} </td>
  </ng-container>

  <!-- NAME Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>NAME</th>
    <td mat-cell *matCellDef="let item"> {{item.name}} </td>
  </ng-container>

  <!-- WIDTH Column -->
  <ng-container matColumnDef="width">
    <th mat-header-cell *matHeaderCellDef>WIDTH</th>
    <td mat-cell *matCellDef="let item"> {{item.width}} </td>
  </ng-container>

  <!-- LENGTH Column -->
  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef>LENGTH</th>
    <td mat-cell *matCellDef="let item"> {{item.length}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsOrder"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsOrder;"></tr>
</table>
