.container {
  width: 80%;
  height: 50%;
  margin: 10px;
  border: 1px solid #555;
}

.left-container {
  width: 10%;
  // height: 200px;
  // margin: 10px;
  // border: 1px solid #555;
  padding: 10px;
  background-color: #dddddd;
}

.right-container {
  width: 90%;
  // height: 200px;
  // margin: 10px;
  // border: 1px solid #555;
  padding: 10px;
  // background-color: #FAFAFA;
}
