<!-- <mat-sidenav-container class="example-container" *ngIf="shouldRun"> -->
<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="left-container">Menu
      <mat-nav-list>
        <mat-list-item *ngFor="let link of links">
            <a matLine [routerLink]="link.url">
                <mat-icon aria-hidden="false" aria-label="">{{link.icon}}</mat-icon>
                <mat-divider></mat-divider>
                {{ link.name }}
            </a>
        </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="right-container">
      <h2>Main Area Calculator</h2>
      <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>

<!-- <div *ngIf="!shouldRun">Please open on Stackblitz to see result</div> -->
